<!DOCTYPE html>
<html>

<head>
    <title>Responsive Design Tools</title>
    <script data-require="vue.js@*" data-semver="1.0.17"
            src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.17/vue.js"></script>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, minimum-scale=0.5">
</head>

<body>
<div id="app">
    <section class="font-size">
        <h1>Responsive Design Tools</h1>

        <strong>Viewport Size:</strong><br>
        Width: {{viewport.width}}px<br>
        Height: {{viewport.height}}px

        <h2>Font Styling</h2>
        <div class="option">
            <h3>Headline</h3>
            Font-Size:
            <span class="size">{{headline.font_size}}px</span>
            <input v-model="headline.font_size" type="range" min="6" max="150"><br>
            Font-Family:
            <input v-model="headline.font_family" type="text">
            Google webfont?<input v-model="headline.google_font" type="checkbox"><br>
            Uppercase?<input v-model="headline.uppercase" type="checkbox">
        </div>
        <div class="option">
            <h3>Paragraph:</h3>
            Font-Size: <span class="size">{{paragraph.font_size}}px</span>
            <input v-model="paragraph.font_size" type="range" min="6" max="150"><br>
            Font-Family:
            <input v-model="paragraph.font_family" type="text">
            Google webfont?<input v-model="paragraph.google_font" type="checkbox"><br>
            Uppercase?<input v-model="paragraph.uppercase" type="checkbox">
        </div>

        <h2 v-bind:style="headlineStyle" contenteditable="true">Demo Headline</h2>
        <p class="demo-p" v-bind:style="paragraphStyle" contenteditable="true">
            I am a demo paragraph. Style me, so that I am readable. Change me by clicking / tapping and editing.
            Lorem ipsum dolor sit amet, no viderer nostrum cum, sed an epicurei
            suscipiantur. Adhuc causae efficiendi per no, lorem doctus electram
            nec ei, oratio option qui at. Nec idque velit augue ea. At mei quis
            persecuti incorrupte. Modus graecis ei sed, voluptua adolescens
            signiferumque sea eu, eu dolor nostrud eruditi eos.
            Cum ea atqui dolorum nostrum.
        </p>
    </section>

    <section class="button-size">
        <h2>Button Styling</h2>

        Width: <span class="size">{{button.width}}px</span><input v-model="button.width"  type="range" min="1" max="500"><br>
        Height: <span class="size">{{button.height}}px</span><input v-model="button.height" type="range"  min="1" max="500"><br>
        Border radius: <span class="size">{{button.border_radius}}px</span><input v-model="button.border_radius" type="range"  min="0" max="100"><br>
        Font-Size:<span class="size">{{button.font_size}}px</span>
        <input v-model="button.font_size" type="range" min="6" max="150"><br>
        Font-Family:
        <input v-model="button.font_family" type="text">
        Google webfont?<input v-model="button.google_font" type="checkbox"><br>
        Uppercase?<input v-model="button.uppercase" type="checkbox">

        <div>
            <div class="demo-button" v-bind:style="buttonStyle">
                <span contenteditable="true">Cancel</span>
            </div>
            <div class="demo-button" v-bind:style="buttonStyle">
                <span contenteditable="true">Okay</span>
            </div>
        </div>

    </section>

    <template v-if="headline.google_font">
        <link href="https://fonts.googleapis.com/css?family={{headline_font_url}}" rel="stylesheet">
    </template>
    <template v-if="paragraph.google_font">
        <link href="https://fonts.googleapis.com/css?family={{paragraph_font_url}}" rel="stylesheet">
    </template>
    <template v-if="button.google_font">
        <link href="https://fonts.googleapis.com/css?family={{button_font_url}}" rel="stylesheet">
    </template>

</div>
<footer>
    Short link: <a href="http://bit.ly/2eZ7zDvb">bit.ly/2eZ7zDvb</a> | <a href="https://github.com/julia-r/responsive-design-tester">Find this on Github</a>
</footer>
<script src="script.js"></script>
</body>

</html>
